    <!-- Download Section -->
    <section id="team" class="content-section text-center">
        <div class="exercises-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>The team</h2>
                    <p>Peter Small, Simon Grandjean Lapierre, Astrid Knoblauch, Kunchok Dorjee, Joe Brew, Jesse McKinney, Liana Langdon-Embry, Emile Redwood, Annabelle Jones, Benjamin Schwarz</p>

 




                </div>
            </div>
            <a href="#contact" class="btn btn-circle page-scroll">
                <i class="fa fa-angle-double-down animated"></i>
            </a>
        </div>
    </section>
